@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(/img/backgroundd.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;

}

.logo{
    color: #F4F6F6;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: right;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.content h1{
   font-family: Poppins;
   font-size: 50px;
   padding-right: 20px;
   margin-top: 8%;
   letter-spacing: 1px;
   text-align: center;
}
.content h1 b{
   color: #ff7200;
}

.content .cn{
   width: 160px;
   height: 40px;
   background: transparent
   border: none;
   margin-bottom: 10px;
   margin-left: 20px;
   font-size: 18px;
   border-radius: 10px;
   cursor: pointer;
   transition: .4s ease;
}

.content .cn a{
   text-decoration: none;
   color: #000;
   transition: .3s ease;
}


.decs-team p{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #F4F6F6;
    position: relative;
    font-family: Poppins;
    text-align: center;
    font-size: 24px;
    
}
